.footerFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footerFooter, .footerUl {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.footerMainNav {
    width: 750px;
    margin: auto;
}

.footerLi {
    padding: 20px;
}

.footerLi a {
    color: #f2f2f2;
    text-decoration: none;
    width: 350px;
    padding: 15px;
    text-align: center;
}

.footerLi:hover {
    background-color: #ddd;
    border-radius: 10%;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.footerLi:hover a {
    color: black;
}